@charset "utf-8";
/* CSS Document */

.timeline_web{ width:96%; margin:0 auto 30px auto/*; overflow:hidden*/; position:relative}
.band-members {list-style: none; margin: 0;padding: 0 0 15px 0; font-size:larger}
.band-members li {margin-bottom: 32px;padding: 3px 0;position: relative;color: #fff;}
.band-members em {color: #fff;}
/*.band-members em:before{content: ' ( '}
.band-members em:after{content: ' ) '}*/
.timeline_web h3, .timeline_web .timeline-date{ color:#333; text-align:left}
.timeline_web ul ul {position: absolute;top: 100%;left:-120px;background: #fff;padding: 0;z-index: 20;visibility: hidden;opacity: 0;filter: alpha(opacity=0); -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;-o-transition: 200ms ease;transition: 200ms ease;width:300px; height:auto; overflow:hidden; display:block}
.timeline_web ul ul.left { position: absolute;left:0px}
.timeline_web ul ul li {float: none;width:100%;list-style-type: none;padding:10px;margin: 0;background: #fff; display:block}
.timeline_web ul ul ul {top: 0;left: 100%;}
.timeline_web ul li:hover > ul {visibility: visible;opacity: 1;filter: alpha(opacity=100); display:block}
.timeline-bg{position:absolute; width:100%; left:-4%;bottom:-10px}
.timeline-bg span {width: 8%;color: #c4c4c4;text-align: center;border-right: 1px solid #666;height: 450px;float: left; text-indent:-9999px; position: relative}
span.ct{ display: block; position:absolute; width:100px; top:-20px; left:0; text-align:left}

/* bar color Document */
.bar-red {border-bottom:10px solid #d4145a;}
.bar-orange {border-bottom:10px solid #F89406;}
.bar-yellow  {border-bottom:10px solid #ffd83e;}
.bar-green  {border-bottom:10px solid #2ecc71 ;}
.bar-blue {border-bottom:10px solid #59ABE3;}
.bar-purple {border-bottom:10px solid #8E44AD;}
.bar-pink  {border-bottom:10px solid #D2527F;width: 27%;left: 62.375%;}
.bar-gray {border-bottom:10px solid #ABB7B7;}

.years {list-style-type: none;padding: 10px  0  0  0;display: block; color:#555; font-size:large; font-weight:bold}
.years li{border-top: 3px solid #555; float: left;margin:10px 0px;padding: 15px 0;text-align:center;width:8%; position:relative}
.years li:after {  content: "";  width: 16px; height: 16px; background-color: #ccccce; border:3px solid #555; border-radius: 18px; position: absolute; top:-10px; left: 40%;}
.years .start {/* border-right: 1px solid #555;*/}
.timeline-content p{ font-size: medium; line-height:1.6em; color:#999; text-align:left;}
.timeline-content a{ color:#b3c43e}


@media screen and (min-width: 769px) and (max-width: 1980px) {
.timeline-mobile{ display:none !important}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
.timeline_web{ display:none !important}
.timeline-mobile {list-style: none;}
.timeline-mobile > li {margin-bottom: 60px;}
.timeline-mobile > li {overflow: hidden;margin: 0;position: relative;}
.timeline-date {width:140px;float: left;margin-top: 24px; text-align:right; padding-right:20px}
.timeline-content {width:70%;float: left;border-left: 4px #555 solid;padding-left: 30px;}
.timeline-content:before {content: '';width: 16px;height: 16px; background-color: #ccccce; border:3px solid #555;position: absolute;left:134px;top: 28px;border-radius: 100%;}
.timeline-content p{ font-size: larger; line-height:1.6em; color:#999}
}

@media screen and (max-width: 480px) {
.timeline-date{ background:#d4145a; padding:2px 0px}
.timeline_web{ display:none !important}
.timeline-mobile > li{ margin-bottom:30px}
.timeline-content p{ font-size: larger; line-height:1.6em; color:#999}
.timeline-content a{ color:#b3c43e}
}