@charset "utf-8";

/* ------------------------------- 網站連結色系設定 ------------------------------- */

a{color: #5a823c}
a:hover, a:focus {color: #385323;}
.btn-more, .news .btn-more, .story .btn-more, .buskers .btn-more{ border-color:#62a429; color: #fff;background: #62a429; }/* 更多按鈕色系 */
.btn-more:hover, .btn-more:focus, .btn-more:active, .btn-more.active, .open > .dropdown-toggle.btn-more, .btn-more:active, .btn-more.active { background: #78a05a; border-color: #78a05a; color: #fff;}/* 更多按鈕色系 */


/* ------------------------------- 網頁版選單設定 ------------------------------- */

.navbar-default {background-color:#62a429;border-color:#fff}/* 選單底色 */
.navbar-default .navbar-nav > li > a:focus {color: #fff695;background-color: transparent;}/* 點擊色系 */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {color: #fff695;background-color:transparent;}/* 選到後色系 */
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {color: #fff695;background-color: transparent;}/* 禁用時色系 */
.header{background:#fff}/* 上方聯絡我們、關於本站底色 */
.logodiv{background:#fff}/* LOGO區塊底色 */


/* ------------------------------- 行動版選單設定 ------------------------------- */

.navbar-default .navbar-toggle {border-color:#fff;}/* 選單外框顏色 */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: #5d853f;}/* 選單按鈕底色 */
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}/* 漢堡選單顏色 */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {border-color: #5d853f;}/* 分隔線 */

@media screen and (max-width: 767px) {
.navbar .navbar-nav li{ border-bottom:1px dashed; border-bottom-color:#e6f0e6}/* 行動版選單分隔線 */
.header{ background:#fff}/* 上方聯絡我們、關於本站底色 */
.logodiv{ background:#fff}/* LOGO區塊底色 */
.copy{ border-top:4px solid #e4e4e4; padding-bottom:20px; text-align:left}
}


/* ------------------------------- CMS設定 ------------------------------- */

.hr-primary{ border:2px solid #e6f0e6}/* 水平線 */
.newslist > tbody > tr:nth-child(odd)  > td , .newslist > tbody > tr:nth-child(odd)  > th { background-color:#eee; }/* 基數列底色 */
.newslist > tbody > tr:nth-child(even)  > td , .newslist > tbody > tr:nth-child(even)  > th { background-color:transparent; }/* 雙數列底色 */
.b-title{ padding:10px;background-color:#e6f0e6;}/* 內頁標題底色 */
.download-file li a {background: #e6f0e6 url(../images/icondown.png) 97% center no-repeat;color: #333;}/* 檔案下載顏色 */
.download-file li a:hover { background-color: #9bc27f; color:#fff}/* 檔案下載滑鼠滑過時顏色 */
.download-file li a, .download-file li a:hover{border-left-color:#8EBD40}/* 檔案下載左邊色系 */


/* ------------------------------- 藝人、空間設定 ------------------------------- */
.btn-warning, .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active, .btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning, .btn-warning .badge {color: #fff; background-color: #9bc382; border-color: #9bc382;}/* 條件查詢選選項底色 */
.box-color{background-color:#e6f0e6}